.blog-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.blog-title h1 {
    background-color: darkslategrey;
    color: white;
    padding: 10px 50px;
    border-radius: 40px;
}
.blog-list {
    display: flex;
    flex-direction: column;
}
.blog-list a {
    margin: 15px 20px;
}