.avatar {
  height: 120px;
  /* width: 20%; */

  // background: center center no-repeat;
  width: 120px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background: round;
}
