@import 'normalize.css';

:root {
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Manrope', 'WindSong', 'Space Mono', 'Aleo', 'Alegreya';
  font-size: 1.6 rem;
  line-height: 1.5 rem;
}
